{{#section 'css'}}
<link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css">
{{/section}}


{{#section 'js'}}
<script
    src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.min.js"></script>
<script>
    $(function () {
        $('#txtdate').datetimepicker({
            format: 'd/m/Y',
            timepicker: false,
            mask: true,
        });
    })
</script>
{{/section}}


<Form method="post">
    <div class="Hungscontainer">
        <h3 style="border-bottom: 1px solid rgb(130, 189, 169);" class="pb-2"><b>Cập nhật thông tin:</b></h3>
        <div class="container col-md-12 mt-4" style="margin-left: 10%">
            <div class="form-group col-md-12 d-flex flex-nowrap">
                <span class="col-md-2 d-flex justify-content-start">
                    <label>Họ tên:</label>
                </span>
                <input name="HoTen" class="col-md-7 form-control" style="width: 400px;" type="text"
                    value="{{authUser.HoTen}}">
            </div>
            <div class="form-group col-md-12 d-flex flex-nowrap">
                <label class="col-md-2 d-flex justify-content-start">Email:</label>
                <input name="Email" class="col-md-7 form-control" value="{{authUser.Email}}" style="width: 400px;"
                    type="text">
            </div>
            {{#if isWriter}}
            <div class="form-group col-md-12 d-flex flex-nowrap">
                <label class="col-md-2 d-flex justify-content-start">Bút danh:</label>
                <input name="ButDanh" class="col-md-7 form-control" style="width: 400px;" value="{{authUser.ButDanh}}"
                    type="text">
            </div>
            {{/if}}
            <div class="form-group col-md-12  d-flex flex-nowrap">
                <label class="col-md-2 d-flex justify-content-start">Ngày sinh:</label>
                <input class="col-md-3 form-control" style="width: 100px" name="dob" id="txtdate" type="text"
                    value="{{format dob}}">
            </div>
            {{#if isUser }}
            <div class="form-group col-md-12 d-flex flex-nowrap">
                <label class="col-md-2 d-flex justify-content-start">Hạn dùng:</label>
                <input readonly class="col-md-3 form-control" style=" width: 400px;" value="{{this.hanDung}}"
                    type="text">
                {{#if this.hethan}}
                <a href="/account/giahan" class="btn" >Gia hạn</a>
                {{/if}}
            </div>
            {{/if}}
            <div class="text-center" style="margin-right: 217px">
                <button class="btn btn-danger mt-3" type="submit">Cập nhật</button>
            </div>
            <br>
        </div>
    </div>
</Form>