{{#section 'css'}}
<link rel="stylesheet" type="text/css"
    href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.0.3/css/fileinput.min.css">
{{/section}}


{{#section 'js'}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.0.3/js/fileinput.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.0.3/themes/fa/theme.min.js"></script>
<script>
    $(function () {
        $('#txtImg').fileinput({
            theme: 'fa',
            dropZoneEnabled: false,
            allowedFileExtensions: ['png', 'jpg', 'gif'],
            uploadUrl: '/upload',
            uploadAsync: false,
        });
    })
</script>
<script
    src="https://cdn.tiny.cloud/1/c3n6lu13jap2ehdz800xbmrmucezhjkqbjyfs2ps60jbgn4z/tinymce/5/tinymce.min.js"></script>
<script>
    $(function () {
        tinymce.init({
            selector: '#txtEditor',
            height: 600,
            menubar: false,
            plugins: 'paste image link autolink lists checklist table media',
            toolbar: [
                'undo redo | bold italic underline strikethrough | numlist bullist | alignleft aligncenter alignright',
                'forecolor backcolor',
                'table link image media', 'checklist'
            ]
        });
    })
</script>
<script>
    function ShowImg() {
        var a = document.getElementById("abc");
        var b = document.getElementById("cba");
        if (a.style.display == 'none') {
            a.style.display = 'block';
            b.style.display = 'none'
        }
        else if (a.style.display == 'block') {
            a.style.display = 'block';
            b.style.display = 'none'
        }
    }
    function ShowImg2() {
        var a = document.getElementById("abc");
        var b = document.getElementById("cba");
        if (b.style.display == 'none') {
            b.style.display = 'block';
            a.style.display = 'none'
        }
        else if (b.style.display == 'block') {
            b.style.display = 'block';
            a.style.display = 'none'
        }
    }

</script>
<script>
    $(document).ready(function () {
        $("#sua-hinh").click(function () {
            $("#abcd").hide();
            $("#dcba").show();
        });
    }); 
</script>
<script>
    function Choose() {
        var choose = document.getElementById("txtChoose");
        var chosen = document.getElementById("txtChosen");
        var options = choose.children;
        var tmp = [];

        for (var i = 0; i < options.length; i++) {
            if (options[i].selected) {
                tmp.push(options[i]);
            }
        }

        for (var i = 0; i < tmp.length; i++) {
            chosen.appendChild(tmp[i]);
        }

        for (var i = 0; i < chosen.length; i++) {
            chosen[i].selected = false;
        }
    }

    function Unchoose() {
        var choose = document.getElementById("txtChosen");
        var chosen = document.getElementById("txtChoose");
        var options = choose.children;
        var tmp = [];

        for (var i = 0; i < options.length; i++) {
            if (options[i].selected) {
                tmp.push(options[i]);
            }
        }

        for (var i = 0; i < tmp.length; i++) {
            chosen.appendChild(tmp[i]);
        }

        for (var i = 0; i < chosen.length; i++) {
            chosen[i].selected = false;
        }
    }
</script>

<script>
    $('#DangBai').click(function () {
        var values = $('#txtChosen').val();
        var x = document.getElementById('txtChosen');
        var list = "";
        for (var i = 0; i < x.options.length; i++) {
            if (true)
                list += '/' + x.options[i].value
        }
        $('#listTag').val(list);
    })

    $('#ThayDoiTag').click(function () {
        $('#NewChose').show();
        $('#Chonsen').hide();

    })
</script>

{{/section}}
<div class="site-section mt-4">
    <div class="container an-shadow pt-4">
        <div class="big-title text-center">
            <h2><b>Chỉnh Sửa Bài Viết</b></h2>
        </div>
        <hr>
        <div class="col-md-12 mt-5">
            <form method="POST" name="frmMain" id="formRewrite">
                <div class="col-md-12">
                    <div class="d-flex flex-wrap col-md-12 mb-3">
                        <span class="col-lg-2">
                            <label for="txtTitle">
                                <b class="text-black">Tiêu đề bài báo:&nbsp;</b>
                            </label>
                        </span>
                        {{#each Rewrite}}
                        <div class="col-md-9">
                            <input class="form-control" type="text" name="txtTitle" id="txtTitle" style="width:820px"
                                value="{{TenBaiBao}}">
                        </div>
                    </div>

                    <div class=" d-flex flex-wrap col-md-12 mb-3">
                        <span class="col-md-2">
                            <label for="txtSummary">
                                <b class="text-black">Tóm tắt:&nbsp;</b>
                            </label>
                        </span>
                        <div class="col-md-9">
                            <textarea class="form-control" style="width:820px" name="summary" id="txtsummary" rows="5"
                                cols="60">{{NoiDungTomTat}}</textarea>
                        </div>
                    </div>

                    <div class=" d-flex flex-wrap col-md-12">
                        <span class="col-md-2 ">
                            <label for="">
                                <b class="text-black">Ảnh đại diện:&nbsp;</b>
                            </label>
                        </span>
                        <div class="col-md-9">
                            <div style="display: block" id="abcd">
                                <img src="{{AnhDaiDien}}" alt="" style="width: 350px; height:250px"><br>
                                <p class="btn mt-3 btn-hover" id="sua-hinh"><b><i class="far fa-edit"></i> Sửa hình</b>
                                </p>
                            </div>
                            <div style="display:none" id="dcba">
                                <input class="form-control" name="img" id="txtLinkimg" type="text"
                                    style="width:820px;"></input>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="body-for-writing">
                    <textarea name="editor" id="txtEditor" rows="10" cols="80">{{{NoiDung}}}</textarea>
                </div>
                {{/each}}
                <br>
                <input hidden name="listTag" id="listTag">

                <div class="mt-4 d-flex flex-nowrap">
                    <span class="col-md-5">
                        <label class="col-md-6">Chọn chuyên mục: &nbsp;</label>
                        <select class="form-control ml-5" name="optTenCM" style="width: 250px">
                            {{#each cat}}
                            <option {{#if isSelected}} selected {{/if}} value="{{idChuyenMuc}}">{{TenCM}}</option>
                            {{/each}}
                        </select>
                    </span>
                </div>
            </form>
            <div class="mt-4 d-flex flex-nowrap">
                {{!-- <span class="col-md-5">
                    <label class="col-md-6">Chọn chuyên mục: &nbsp;</label>
                    <select class="form-control ml-5" name="optTenCM" style="width: 250px">
                        {{#each cat}}
                        <option {{#if isSelected}} selected {{/if}} value="{{idChuyenMuc}}">{{TenCM}}</option>
                        {{/each}}
                    </select>
                </span> --}}


                <div class="col-md-6">
                    <div id="Chonsen" style="display:block" class="ml-4" >
                        <label>Danh sách tag của bài báo này:&nbsp;</label>
                        <div class="d-flex flex-nowrap">
                            <select class="form-control" multiple="multiple" name="chosen"
                                style="width:250px; height:100px">
                                {{#each this.isSelectedTag}}
                                <option value="{{idTag}}">{{tenTag}}</option>
                                {{/each}}
                            </select>
                            <button id="ThayDoiTag" style="height:40px;" class="btn mt-4 ml-3">Thay đổi tag</button>
                        </div>

                    </div>
                    <div id="NewChose" style="display:none" class="ml-4">
                        <label>Chọn thẻ tag: &nbsp;</label>
                        <div class="txt-tag">
                            <div class="cbx-option-mul ">
                                <select class="form-control" multiple="multiple" id="txtChoose" name="choose"
                                    style="width:250px; height:200px">
                                    {{#each tag}}
                                    <option value="{{idTag}}">{{tenTag}}</option>
                                    {{/each}}
                                </select>
                            </div>
                            <div class="Button">
                                <input type="button" id="btnChoose" onclick="Choose()" value=">">
                                <input type="button" id="btnUnchoose" onclick="Unchoose()" value="<">
                            </div>
                            <div>
                                <select class="form-control" multiple="multiple" id="txtChosen" name="chosen"
                                    style="width:250px; height:200px">
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-center mt-5 ">
                <a href="javascript: $('#formRewrite').submit()" class="btn btn-danger mb-5" id="DangBai"><b>Lưu bài
                        sửa</b></a>
            </div>
        </div>
    </div>
</div>