<div class="site-section" id="blog-section">
    <div class="container">
        <div class="row mb-5 mt-5">
            <div class="col-md-12">

                {{#each detail}}
                <img src="{{AnhDaiDien}}" alt="Image" class="img-fluid col-md-12">
                <h2 class="section-title" style="font-size: 30px; padding-bottom: 0px;">{{TenBaiBao}}</h2>
                <hr>
                <div class="meta mb-4"><a href="/{{ChuyenMuc}}">{{TenCM}}</a> <span
                        class="mx-2">&bullet;</span>{{format NgayDang}}<span class="mx-2">&bullet;</span> {{HoTen}}
                    <span class="mx-2">&bullet;</span>
                    {{#if Premium}}<span class="text-black"
                        style="background-color: rgb(192, 192, 192)">Premium</span>{{/if}}
                </div>
                <hr>
                <div style="display:flex; flex-direction:row; justify-content: space-between">
                    <div class="blog-content col-md-9">
                        <div class="text-black shadow-lg ">
                            <div style="padding: 30px;">
                                <p style="font-weight: 800"><b>{{{NoiDungTomTat}}}</b></p>
                                <br>

                                <div>{{{NoiDung}}}
                                </div>
                                {{/each}}
                                <br>
                                <label style="font-size:15px; color: red; font-weight: 700"><i
                                        class="fas fa-key"></i>&nbsp;Từ khoá:
                                    {{#each tagnews}}
                                    <a href="/{{ChuyenMuc}}" class="tag_item"
                                        style="font-size: 15px; font-weight: 700; background-color: rgb(210, 223, 223)">
                                        #{{tenTag}}
                                    </a>&nbsp;
                                    {{/each}}
                                    &nbsp;&nbsp;
                                </label>


                            </div>
                        </div>
                    </div>
                    <!---->
                    <br><br><br>
                    <div style="width: 100%; position:relative; margin-left:15px;">
                        <div class="div-big">
                            <h4 style=" border-left: 3px solid red; font-weight: bold; color: black">Bài
                                viết liên quan</h4>
                            <div style="padding: 10px;">
                                {{#each relatebb}}
                                <a href="/{{ChuyenMuc}}/{{idBaiBao}}"> <img style="max-width: 100%; height: auto;"
                                        src="{{AnhDaiDien}}">
                                    <p class="text-small">{{TenBaiBao}}</p>
                                </a>
                                {{/each}}
                            </div>
                        </div>
                    </div>

                </div>
                {{#if isAuthenticated}}
                <div class="mt-5 col-md-10">
                    <form method="POST">
                        <div style="padding:30px;" class="shadow-lg form-group">
                            <p class="text-black" style="font-size: 30px; "><b>BÌNH LUẬN</b></p>
                            <hr>
                            <span style="display:flex; flex-direction:row;">
                                <img style=""
                                            src="https://tophinhanhdep.com/wp-content/uploads/2017/07/avatar-dep-de-thuong.jpg"
                                            height="35px">
                                <input style="width: 100%" class="col-md-9 ml-4 form-control" type="text" id="txtcomment"
                                    name="comment" placeholder="Nhập bình luận tại đây...">
                                <button class="ml-5 btn-dang" type="submit" id="post">Đăng</button>

                            </span>
                            <ul style="list-style: none" class="mt-4 pr-5">
                                {{#each cmt}}
                                <li>
                                    <div class="d-flex flex-nowrap col-md-12">
                                        <img src="https://img2.thuthuatphanmem.vn/uploads/2018/12/01/hinh-ve-de-thuong_114054803.jpg"
                                            alt="" style="width: 50px; height:50px">
                                        <div class="ml-4">
                                            <div style=" height: 30px; display: flex ;flex-direction:row">
                                                <p style="font-weight:800">{{HoTen}}</p>
                                                <p style="margin-left: 30px;">{{format NgayDang}}</p>

                                            </div>
                                            <p style="margin-top: 0px;"> {{NoiDung}} </p>
                                        </div>
                                    </div>
                                </li>
                                <hr>
                                {{/each}}
                            </ul>
                        </div>
                    </form>
                </div>
                {{else}}
                <div class="mt-5 col-md-10">
                    <form method="POST">
                        <div style="padding:30px;" class="shadow-lg form-group">
                            <p class="text-black" style="font-size: 30px; "><b>BÌNH LUẬN</b></p>
                            <hr>
                            <span style="display:flex; flex-direction:row;">
                                {{!-- <img style="margin-right: 10px"
                                            src="https://tophinhanhdep.com/wp-content/uploads/2017/07/avatar-dep-de-thuong.jpg"
                                            height="35px"> --}}
                                <input style="width: 100%;" class="col-md-9 ml-4 form-control" disabled type="text" id="txtcomment"
                                    name="comment" placeholder="Bạn cần phải đăng nhập để có thể đăng bình luận">
                                <button class="ml-5 mt-3 btn-dang" disabled type="submit" id="post">Đăng</button>

                            </span>
                            <ul style="list-style: none" class="mt-4 pr-5">
                                {{#each cmt}}
                                <li>
                                    <div class="d-flex flex-nowrap col-md-12">
                                        <img src="https://img2.thuthuatphanmem.vn/uploads/2018/12/01/hinh-ve-de-thuong_114054803.jpg"
                                            alt="" style="width: 50px; height:50px">
                                        <div class="ml-4">
                                            <div style=" height: 30px; display: flex ;flex-direction:row">
                                                <p style="font-weight:800">{{HoTen}}</p>
                                                <p style="margin-left: 30px;">{{format NgayDang}}</p>

                                            </div>
                                            <p style="margin-top: 0px;"> {{NoiDung}} </p>
                                        </div>
                                    </div>
                                </li>
                                <hr>
                                {{/each}}
                            </ul>
                        </div>
                    </form>
                </div>
                {{/if}}
            </div>
        </div>
    </div>
</div>