<div class="site-section" id="blog-section">
    <div class="container">

        <div class="row mb-5">
            <div class="col-12 text-center">
                <h2 class="section-title mb-3" style="font-size:30px">Kết quả tìm kiếm</h2>
            </div>
        </div>
        {{#if this.isExsist}}
        <div class="row">
            {{#each this.bycat2}}
            <div class="col-md-6 col-lg-4 mb-4 mb-lg-4">
                <div class="h-entry">
                    <a href="/{{ChuyenMuc}}/{{idBaiBao}}"><img style="width: 100%; height: 250px;" src="{{AnhDaiDien}}"
                            alt="{{TenBaiBao}}" class="img-fluid"></a>
                    <h2><a href="/{{ChuyenMuc}}/{{idBaiBao}}">{{TenBaiBao}}</a></h2>
                    {{#if Premium}}
                    <span class="text-black" style="background-color: rgb(192, 192, 192)">Premium</span>
                    {{/if}}
                    <div class="meta mb-4">
                        <a href="/{{ChuyenMuc}}">{{TenCM}}</a>
                        <span class="mx-2">&bullet;</span>
                        <a>{{ButDanh}}</a>
                        <span class="mx-2">&bullet;</span>{{format NgayDang}}

                    </div>
                    <p>{{{NoiDungTomTat}}}</p>
                    <p><a href="/{{ChuyenMuc}}/{{idBaiBao}}">Tiếp tục xem...</a></p>
                </div>
            </div>
            {{/each}}
        </div>
        {{else}}
        <h4><b>Không có kết quả tìm kiếm!</b></h4>
        {{/if}}

        {{!-- {{else}}
        <div class="row">
            {{#each bycat}}
            <div class="col-md-6 col-lg-4 mb-4 mb-lg-4">
                <div class="h-entry">
                    <a href="/{{ChuyenMuc}}/{{idBaiBao}}"><img style="width: 100%; height: 250px;" src="{{AnhDaiDien}}"
                            alt="{{TenBaiBao}}" class="img-fluid"></a>
                    <h2><a href="/{{ChuyenMuc}}/{{idBaiBao}}">{{TenBaiBao}}</a></h2>
                    <div class="meta mb-4">
                        <a href="/{{ChuyenMuc}}">{{TenChuyenMuc}}</a>
                        <span class="mx-2">&bullet;</span>
                        <a>{{ButDanh}}</a>
                        <span class="mx-2">&bullet;</span>{{format NgayDang}}
                        
                    </div>
                    <p>{{{NoiDungTomTat}}}</p>
                    <p><a href="/{{ChuyenMuc}}/{{idBaiBao}}">Tiếp tục xem...</a></p>
                </div>
            </div>
            {{/each}}
        </div>
        {{/if}} --}}


        {{!-- <div>
            <label style="font-size:15px; color: red; font-weight: 700"><i class="fas fa-key"></i>&nbsp;Từ khoá:
                {{#each tag}}
                <a href="/tag/{{idTag}}" class="tag_item"
                    style="font-size: 15px; font-weight: 700; background-color: rgb(210, 223, 223)">#{{tenTag}}</a>
                {{/each}}
            </label>

        </div> --}}
    </div>
    <div style="color:black !important">
        <ul class="pagination modal-3">
            <li><a href="#" class="prev">&laquo</a></li>
            {{#each this.pages}}
            {{#if active}}
            <li><a href="javascript:;" class="active">{{value}}</a></li>
            {{else}}
            <li><a href="?page={{value}}">{{value}}</a></li>
            {{/if}}
            {{/each}}
            <li><a href="#" class="next">&raquo;</a></li>
        </ul>
    </div>
</div>