{{#section 'css'}}
<link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css">
{{/section}}


{{#section 'js'}}
<script
    src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.min.js"></script>
<script>
    $(function () {
        $('#date').datetimepicker({
            format: 'd/m/Y',
            timepicker: false,
            mask: true,
        });
    })
    $(function () {
        $('#datex').datetimepicker({
            format: 'd/m/Y',
            timepicker: false,
            mask: true,
        });
    })
    $(function () {
        $('#datexx').datetimepicker({
            format: 'd/m/Y',
            timepicker: false,
            mask: true,
        });
    })
</script>

{{/section}}
{{#if isdocgia}}
<form action="/admin/QuanLiTaiKhoan/DocGia/edit/{{this.docgia.idThanhVien}}" method="POST">
    {{/if}}
    {{#if iswriter}}
    <form action="/admin/QuanLiTaiKhoan/writer/edit/{{this.docgia.idThanhVien}}" method="POST">
        {{/if}}
        {{#if iseditor}}
        <form action="/admin/QuanLiTaiKhoan/editor/edit/{{this.docgia.idThanhVien}}" method="POST">
            {{/if}}
            <div>
                <div class=" m-5 shadow p-3 bg-gray rounded">
                    <h1>Chỉnh sửa tài khoản</h1>
                    <hr>
                    <div class="col-md-12 mt-4" style="display: flex; flex-wrap:nowrap">
                        <label class="col-md-2">Họ Tên:</label>
                        <input class="col-md-5 form-control" placeholder="Nhập họ tên" name="ten" type="text"
                            value="{{this.docgia.HoTen}}" style="border-radius:10px">
                    </div>
                    {{#if iswriter}}
                    <div class="col-md-12 mt-4" style="margin-top:15px; display: flex; flex-wrap:nowrap">
                        <label class="col-md-2 ">Bút danh:</label>
                        <input class="col-md-5 form-control" placeholder="Nhập bút danh" name="butdanh" type="text"
                            value="{{this.docgia.ButDanh}}" style="border-radius:10px">
                    </div>
                    {{/if}}
                    <div class="col-md-12 mt-3" style="margin-top:15px; display: flex; flex-wrap:nowrap">
                        <label class="col-md-2">Email:</label>
                        <input class="col-md-5 form-control" type="text" name="email" value="{{this.docgia.Email}}"
                            style="border-radius:10px">
                    </div>

                    <div class="col-md-12 mt-3" style="margin-top:15px; display: flex; flex-wrap:nowrap">
                        <label class="col-md-2">Ngày sinh:</label>
                        <input class="col-md-5 form-control" type="text" id="date" name="date"
                            value=" {{format this.docgia.NgaySinh}}" style="border-radius:10px">
                    </div>

                    {{#if iseditor }}
                    <div class="col-md-12 mt-3" style="margin-top:15px; display: flex; flex-wrap:nowrap">
                        <label class="col-md-2">Chuyên mục quản lí:</label>
                        <select class="col-md-5 form-control" name="CMQuanLi"
                            style="height: 30px; width:440px; border-radius:10px">
                            {{#each this.dsCM}}
                            <option {{#if isSelected}} selected {{/if}} value="{{idChuyenMuc}}">{{TenCM}}</option>
                            {{/each}}
                        </select>
                    </div>
                    {{/if}}

                    {{#if isdocgia}}
                    <div class="col-md-12 mt-3" style="margin-top:15px;display: flex; flex-wrap:nowrap">
                        <label class="col-md-2">Ngày kích hoạt:</label>
                        <input class="col-md-5 form-control" type="text" readonly name="dateKh"
                            value=" {{format this.docgia.NgayKichHoat}}" style="border-radius:10px">
                    </div>
                    <div class="col-md-12 mt-3" style="margin-top:15px;display: flex; flex-wrap:nowrap">
                        <label class="col-md-2">Ngày hết hạn:</label>
                        <input class="col-md-5 form-control" type="text" readonly name="dateHh"
                            value=" {{format this.docgia.NgayHetHan}}" style="border-radius:10px">
                    </div>
                    {{/if}}

                    <div class="col-md-12 ml-5" style="margin-top:20px; display:flex; justify-content:space-between">
                        <div>
                            {{#if isdocgia}}
                            <a class="btn btna" href="/admin/QuanLiTaiKhoan/DocGia"
                                style="height:35px;background-color:#2A3F54; color:floralwhite; width:100px"
                                type="button" id="Quaylai"><i class="fa fa-backward" aria-hidden="true">&nbsp;</i>Quay
                                lại</a>
                            {{/if}}
                            {{#if iswriter}}
                            <a class="btn btna" href="/admin/QuanLiTaiKhoan/writer"
                                style="margin-left:none !important;height:35px;background-color:#2A3F54; color:floralwhite; width:100px"
                                type="button" id="Quaylai"><i class="fa fa-backward" aria-hidden="true">&nbsp;</i>Quay
                                lại</a>
                            {{/if}}
                            {{#if iseditor}}
                            <a class="btn btna" href="/admin/QuanLiTaiKhoan/editor"
                                style="margin-left:none !important;height:35px;background-color:#2A3F54; color:floralwhite; width:100px"
                                type="button" id="Quaylai"><i class="fa fa-backward" aria-hidden="true">&nbsp;</i>Quay
                                lại</a>
                            {{/if}}
                        </div>
                        <div>
                            
                            {{#if isdocgia}}
                            <button class="btn btna btn-primary"
                                style="height:35px;background-color:#2A3F54; color:floralwhite; width:150px"
                                type="submit" id="Them">
                                <i class="fa fa-check" aria-hidden="true">&nbsp;</i>Gia hạn tài khoản</button>
                            {{/if}}
                            <button class="btn btna btn-primary"
                                style="height:35px;background-color:#2A3F54; color:floralwhite; width:100px"
                                type="submit" id="Them">
                                <i class="fa fa-check" aria-hidden="true">&nbsp;</i>Lưu lại</button>
                        </div>
                    </div>
                </div>

            </div>
        </form>