{{#section 'css'}}
<link rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css">
{{/section}}

{{#section 'js'}}
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js"></script>

<script>


  $(document).ready(function () {
    $('.clickable-row').click(function () {
      window.location.href = $(this).attr('data-href');
    })
  })

  $("button").click(function () {
    var a = $(this).val();
    var dongy = 'editor/' + a.trim();
    var lido = a.trim();
    $('#formYes').attr('action', dongy);
    $('#formId').attr('action', lido);

  });

  $('#txtdate').datetimepicker({
    format: 'd/m/Y',
    timepicker: false,
    mask: true,
  });
</script>



{{/section}}

<div class="main_container">
  <div class="shadow p-3 mb-5 m-5 bg-white rounded">
    <div role="main">
      <div class="row" style="padding-left:20px; padding-right: 20px; margin-top: 20px">
        <div class="clearfix"></div>
        <div class="col-md-11 m-5">
          <div class="x_panel">
            <div style="margin-bottom:40px" class="col-md-12 text-center text-black">
              <h2>Danh sách các bài viết chờ duyệt</h2>
            </div>
            <div  class="x_content">
              <table id="table" class="table table-hover text-left">
                <thead>
                  <tr>
                    <th class="text-center">STT</th>
                    <th class="text-center">Tên bài viết</th>
                    <th class="text-center" style="width:135px">Ngày đăng</th>
                    <th class="text-center" style="width:135px">Chuyên mục</th>
                    <th class="text-center">Option</th>
                  </tr>
                </thead>
                <tbody>
                  {{#each this.BaiBao}}
                  <tr>
                    <th scope="row">{{stt}}</th>
                    <td id="name">{{TenBaiBao}}</td>
                    <td> {{format NgayDang}}</td>
                    <td>{{TenCM}}</td>
                    <td style="display:flex; flex-direction:row; justify-content: space-around">
                      <a href="/editor/detail/{{idBaiBao}}"
                        style=" cursor: pointer;border: none; background-color: transparent"><i
                          class="fas fa-eye text-black"></i></a>
                      <button value="{{idBaiBao}}" style="border: none; background-color: transparent" id="btn"
                        class="btnSelect" data-toggle="modal" data-target="#myModal"><i
                          class="fas fa-user-check"></i></button>
                      <button value="{{idBaiBao}}" onclick="myFunction()"
                        style="border: none; background-color: transparent" data-toggle="modal"
                        data-target="#myModal1"><i class="fas fa-user-times"></i></button>
                    </td>
                  </tr>
                  {{/each}}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>


      <div class="modal fade" id="myModal">
        <div class="modal-dialog">
          <div class="modal-content">
            <div
              style="padding: 10px; background-color: #2A3F54;color: white; font-weight: bold; display:flex; flex-direction:row; justify-content: space-between">
              <h4 class="modal-title">Hiệu chỉnh thông tin</h4>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <form method="POST" action="" id="formYes">
              <div class="modal-body" style="color:black">
                <div style="display: flex; flex-direction:row">
                  <div style="width: 100%; margin-left: 10px">
                    <h4><u>Thời điểm xuất bản</u></h4>
                    <input id="txtdate" name="dob" style="width:100%; height: 30px;" type="text">
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <a href="javascript: $('#formYes').submit()" class="btn btn-danger">Lưu</a>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Huỷ</button>
              </div>
            </form>
          </div>
        </div>
      </div>


      <div class="modal fade" id="myModal1">
        <div class="modal-dialog">
          <div class="modal-content">
            <form method="POST" action="" id="formId">
              <div
                style="padding: 10px; background-color: #2A3F54;color: white; font-weight: bold; display:flex; flex-direction:row; justify-content: space-between">
                <h4 class="modal-title">Lý do</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
              </div>
              <div>
                <textarea name="lido"
                  style="width: 97%; margin: 10px; height:150px; box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.08)"
                  placeholder="Vui lòng nhập lí do để phóng viên chỉnh sửa..."></textarea>
              </div>
              <div class="modal-footer">
                <a href="javascript: $('#formId').submit()" class="btn btn-danger">Lưu</a>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Huỷ</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>